div(class="row" id="filtter")
    div(class="col m12 s12 center-align")
        div(id="filter")
            span(class="material-icons") more_horiz
    div(class="col m1 s1")
    div(class="col m10 s10 center-align")
        div(id="filter-menu")
            a(href="/pokemon/list/1"): div(class="chip") all
            a(href="/type/7/1"): div(class="chip") bug  
            a(href="/type/17/1"): div(class="chip") dark      
            a(href="/type/16/1"): div(class="chip") dragon      
            a(href="/type/13/1"): div(class="chip") electric      
            a(href="/type/18/1"): div(class="chip") fairy
            a(href="/type/2/1"): div(class="chip") fighting     
            a(href="/type/10/1"): div(class="chip") fire     
            a(href="/type/3/1"): div(class="chip") flying     
            a(href="/type/8/1"): div(class="chip") ghost     
            a(href="/type/12/1"): div(class="chip") grass      
            a(href="/type/5/1"): div(class="chip") ground     
            a(href="/type/15/1"): div(class="chip") ice      
            a(href="/type/1/1"): div(class="chip") normal     
            a(href="/type/4/1"): div(class="chip") poison     
            a(href="/type/14/1"): div(class="chip") psychic      
            a(href="/type/6/1"): div(class="chip") rock     
            a(href="/type/9/1"): div(class="chip") steel     
            a(href="/type/11/1"): div(class="chip") water     
    div(class="col s1 m1")      