doctype html
html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/main.css")
        link(rel="stylesheet" href="/materialize.css")
    body
      div(class="container")
        div(class="row")
          div(class="col m12 s12 center-align")
            img(src="/start.png", alt="", srcset="")
        









        //- .wrapper
        //-   h1
        //-     |Pokedex
        //-     a(class="waves-effect waves-light btn" href="/pokemon/pichu") but
