body{margin:0;
font-family:'Montserrat', sans-serif;}

html,body{
    height: 100%;
}
.container{
min-width: 600px;
height: 100%;
overflow-y: auto;
}

/* .wrapper{
    display: flex; justify-content:center;
    align-items: center;
    height: 100vh;
}
h1{
    margin: 0;
    font-weight: normal;
    font-family: 'Bodoni 72', sans-serif;
    font-size: 70px;
} */

/* .img{
    width: 100%;
    height: 100%;
} */